@use "../scss/variable" as vars;

.favourite {
  border: solid 5px var(--brand-orange);
  border-radius: 7px;
}

.favouritebox {
  background-color: var(--brand-orange);
  font-size: 1.3rem;
  padding: 5px;

  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0.5rem;
  list-style: none;
  justify-items: center;
}
