* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  background-color: rgb(238, 160, 132);
}
.headerbox {
  text-align: center;
  padding: 2rem;
}
.icon {
  font-size: 1.5rem;
  padding: 0.7rem;
}
.title {
  color: rgb(11, 85, 11);
  word-spacing: 6px;
}
.formbox {
  text-align: center;
}
.searchbtn {
  border-radius: 1rem;
  padding: 5px;
  padding-inline: 15px;
  cursor: pointer;
  background-color: rgb(11, 85, 11);
  color: white;
  transition-duration: 0.2s;
}
.searchbtn:hover {
  transform: translateY(-5px);
}

.searchtext {
  color: rgb(11, 85, 11);
  font-size: 1.5rem;
}

.mainbox {
  display: flex;
  justify-content: space-around;
  padding: 2rem;
}
h2 {
  padding: 10px;
}
.ulbox {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 0.5rem;
  font-size: 1.5rem;
  list-style: none;
  justify-items: center;
}
.cardbox {
  display: inline-block;
  justify-content: center;
  align-items: center;
}

.cardtitle {
  color: white;
}

.cardphoto {
  max-width: 200px;
}
.favourite {
  border: solid 5px orangered;
  border-radius: 7px;
}

.favouritebox {
  background-color: orangered;
  font-size: 1.3rem;
  padding: 5px;
  gap: 5px;
}
