* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  background-color: rgb(238, 160, 132);
}
.headerbox {
  text-align: center;
  padding: 2rem;
}
.formbox{
  text-align: center;
 
}
.searchbtn {
  border-radius: 1rem;
  padding: 3px;
  padding-inline: 10px;
  cursor: pointer;
  background-color: rgb(71, 145, 49);
  color: white;
}

.searchtext{
  color:  rgb(71, 145, 49);
  font-size: 1.25rem;
  
}

.mainbox {
  display: flex;
  justify-content: space-around;
  padding: 2rem;
}

.ulbox {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap:0.5rem;
  font-size: 1.5rem;
  list-style: none;
  justify-items: center;
 
}
.cardbox{
  display: inline-block;
  justify-content: center;
  align-items: center;
 }

.cardtitle{
  color: white;
  font-size: large;
  
  
}
.asidebox{
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.favourite{
  background-color: aqua;
}